paper/usersXSD.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="users">
 <xs:complexType>
  <xs:sequence>
   <xs:element name="user" maxOccurs="unbounded">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="userID" type="xs:string"/>
      <xs:element name="name">
       <xs:complexType>
        <xs:sequence>
         <xs:element name="firstName"/>
         <xs:element name="surName"/>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
      <xs:element name="gender" type="xs:string"/>
      <xs:element name="birthday" type="xs:string"/>
      <xs:element name="registers">
       <xs:complexType>
        <xs:sequence>
         <xs:element name="register" maxOccurs="unbounded">
          <xs:complexType>
           <xs:sequence>
           <xs:element name="date" type="xs:string"/>
           <xs:element name="weight">
           <xs:complexType>
           <xs:simpleContent>
           <xs:extension base="xs:double">
           <xs:attribute name="unit" type="xs:string"
           use="required"/>
           </xs:extension>
           </xs:simpleContent>
           </xs:complexType>
           </xs:element>
           <xs:element name="height">
           <xs:complexType>
           <xs:simpleContent>
           <xs:extension base="xs:double">
           <xs:attribute name="unit" type="xs:string"
           use="required"/>
           </xs:extension>
           </xs:simpleContent>
           </xs:complexType>
           </xs:element>
           <xs:element name="IMC" type="xs:double"/>
           <xs:element name="activityLevel" type="xs:string"
           />
           </xs:sequence>
          </xs:complexType>
         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
      <xs:element name="mealPlans">
       <xs:complexType>
        <xs:sequence>
         <xs:element name="mealPlan" maxOccurs="unbounded">
          <xs:complexType>
           <xs:sequence>
           <xs:element name="day" maxOccurs="7">
           <xs:complexType>
           <xs:sequence>
           <xs:element name="meals">
           <xs:complexType>
           <xs:sequence>
           <xs:element name="meal" maxOccurs="unbounded">
           <xs:complexType>
           <xs:sequence>
           <xs:element name="food" maxOccurs="unbounded">
           <xs:complexType>
           <xs:sequence>
           <xs:element name="id" type="xs:string"/>
           <xs:element name="qt" type="xs:double"/>
           </xs:sequence>
           </xs:complexType>
           </xs:element>
           </xs:sequence>
           <xs:attribute name="hour" type="xs:string"/>
           <xs:attribute name="type" type="xs:string"/>
           </xs:complexType>
           </xs:element>
           </xs:sequence>
           </xs:complexType>
           </xs:element>
           </xs:sequence>
           <xs:attribute name="date" type="xs:string"
           use="required"/>
           </xs:complexType>
           </xs:element>
           </xs:sequence>
           <xs:attribute name="dateStart" type="xs:string"
           use="required"/>
           <xs:attribute name="dateEnd" type="xs:string"
           use="required"/>
          </xs:complexType>
         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
</xs:element>
</xs:schema>
